{
  "tabWidth": 2,
  "printWidth": 120,
  "trailingComma": "es5",
  "useTabs": false,
  "singleQuote": true,
  "semi": false,
  "files" :["index.ts", "bin/xdccjs.ts"],
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "parser": "typescript"
}
